<template>
  <div>
    <div class="row">
      <div class="col-md-3">
        <login></login>
      </div>
      <div class="col-md-8">
        <table id="miTabla" width="100%">
          <thead>
          <tr>
            <th>Lista de Mensajes</th>
          </tr>
          </thead>
          <tbody>
          <tr v-for="message in messages">
            <td>
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h3 class="panel-title">{{message.username}} @ {{message.date | date-format}}</h3>
                </div>
                <div class="panel-body">
                  {{message.description}}
                </div>
              </div>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div id="bottom"></div>
  </div>
</template>

<script type="text/javascript">
  import Vue from 'vue';
  import Login from './Login'

Vue.filter('date-format', function(value){
  let date = value.split('T')[0];
  let time  = value.split('T')[1].split('+')[0].substring(0,6);
  return date+" "+time;
})

  export default{
      components:{Login},
    name : 'main-panel',
    data(){
        return{
//            msg: 'main-panel',
            messages: ''
        }
    },
    created: function () {
      this.getMessages();
    },
    methods : {
      getMessages () {
        this.$http.get('http://localhost:8089/messages').then((res) => {
          this.messages = res.body._embedded.messages.reverse();
          console.log(this.messages);
        }, (err) => {
          console.log(err);
        });
      }
    }


  }
</script>
