<template>
  <div>
    <div class="navbar  navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <router-link to="/" class="navbar-brand">Cars Blog</router-link>
        </div>
        <div class="navbar-collapse collapse" id="navbar-main">
          <ul class="nav navbar-nav">
            <li>
              <router-link to="/">Inicio</router-link>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><router-link to="/signup" class="nav-item nav-link"> Registrate</router-link></li>
          </ul>
        </div>
      </div>
    </div>
    <img id="banner" src="../assets/banner.jpg" class="img-responsive" alt="Responsive image">
  </div>
</template>

<script>
  export default {
  }
</script>

<style type="text/css">
 #banner {

    height: 400px;
    width: 100%;
  }
</style>
