<template>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <form v-if="!signed" class="form-horizontal">
                    <fieldset>
                        <div id="legend">
                            <legend class="">Register</legend>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="username">Nombre Usuario</label>
                            <div class="controls">
                                <input v-model="user.username" type="text" id="username" name="username" placeholder="" size="40"  class="input-xlarge">
                                <p class="help-block">El nombre de usuario puede contener letras o números, sin espacios</p>
                            </div>
                        </div>

                        <div class="control-group">
                            <label class="control-label" for="email">E-mail</label>
                            <div class="controls">
                                <input v-model="user.email" type="text" id="email" name="email" placeholder="" size="40" class="input-xlarge">
                                <p class="help-block">Introduzca su E-mail</p>
                            </div>
                        </div>

                        <div class="control-group">
                            <label class="control-label" for="password">Contaseña</label>
                            <div class="controls">
                                <input v-model="user.password" type="password" id="password" name="password" placeholder="" size="40" class="input-xlarge">
                                <p class="help-block">La contraseña debe tener al menos 4 caracteres</p>
                            </div>
                        </div>

                        <div class="control-group">
                            <!-- Button -->
                            <div class="controls">
                                <a @click="register" class="btn btn-success">Registrar</a>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>

        </div>

    </div>
</template>


<script>
export default {
    name: 'sign-up',
    data() {
        return {
            signed: false,
            user: {
                username: '',
                password: '',
                email: ''
            }
        }
    },
    methods: {
        register() {
            let url = 'http://localhost:8089/singUp';

            this.$http.post(url, this.user).then((res) => {
                console.log(res);
                this.signed = true;
            }, (err) => {
                console.log(err);
            })
        }
    }
}
</script>
